.wrapper {
  margin-top: 120px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  min-width: 480px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 170px;
  transition: opacity 0.5s ease-in-out;
}
.buttonsVisible {
  opacity: 1;
}
.buttonsHide {
  opacity: 0;
}
