.wrapper {
  font-family: 'JetBrains Mono';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px 30px;
  text-align: center;
}
.image {
  width: 480px;
  height: 240px;
  align-self: center;
}
.name {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.dataWrapper {
  display: flex;
  gap: 40px;
  list-style: none;
  color: #8585ad;
  margin: 16px auto;
}
.dataItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}
