.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}
.title {
  font-family: 'Iceland', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
}
