.wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: 'Jet Brains Mono', Arial, Helvetica, sans-serif;
}

.connectWrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.tapeWrapper {
  max-width: 608px;
  max-height: 852px;
}

.title {
  font-family: 'Jet Brains Mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  align-self: flex-start;
}
