.wrapper {
  display: flex;
  text-align: center;
  align-items: flex-start;
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  gap: 60px;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.linksSubline {
  margin-top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
  opacity: 0.4;
  text-align: left;
  width: 320px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  min-width: 420px;
}
