.wrapper {
  display: flex;
  margin: 0;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  gap: 16px;
  overflow-y: scroll;
  padding: 0 8px;
}

.wrapper::-webkit-scrollbar-track {
  background: #2f2f37;
}
.wrapper::-webkit-scrollbar {
  width: 8px;
}
.wrapper::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}
