.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  align-items: center;
  width: 250px;
}
.ingredient:hover {
  cursor: pointer;
}
.ingredientCount {
  position: absolute;
  top: 0;
  right: 0;
}
.ingredientName {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.ingredientImage {
  width: 240px;
  height: 120px;
}
.ingredientPrice {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 9px;
}
